:root {
    --color-vio-999: #280036
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.intro {
    color: var(--color-vio-900, #280036);
    font-family: SUIT;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 56px */
    letter-spacing: -0.88px;
}

.chat.right {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.chat.left {
    display: flex;
    padding: 14.38px 0px;
    justify-content: center;
    align-items: flex-end;
}

.chat.right::after {
    content: url(./img/rightTail.svg);
}

.chat.left::before {
    content: url(./img/leftTail.svg);
}